h1{
  padding: 20px;
}
.bookInfo{
  position : absolute;
}
.bookInfo img{
  height: 150px;
  width: 100px;
}
ul h1{
  padding: 0;
}
.bookInfo li{
  background-color:rgba(82, 80, 0, 0.575);
  padding: 20px;
  color: white;
  margin:20px 20px 20px 0;
}
.bookInfo li a{
  color: rgb(114, 114, 3);
}